$common-black-color: #111518;
$common-white-color: #ffffff;
$primary-text-color: #b9b9b9;
$secondary-text-color: #3d3d3d;
$accent-color: #ff6b09;
$white-bg-color: #f1f1f1;
$black-bg-color: #111518e6;
