<section class="about">
  <div class="container">
    <h2 class="about__title">Преподаватель</h2>
    <div class="about__container">
      <img
        class="about__img"
        srcset="./images/about_teacher.jpg 1x, ./images/about_teacher@2x.jpg 2x"
        src="./images/about_teacher.jpg"
        alt="Фото преподавателя"
      />
      <div class="about__box">
        <h3 class="about__title-name">Елена Морева</h3>
        <ul class="about__list">
          <li class="about__item">Опыт подготовки учеников к ВНО - 6 лет</li>
          <li class="about__item">Собственный результат сдачи ВНО - 197 баллов 2 года подряд</li>
          <li class="about__item">
            Сдала на отлично международный аналог ВНО - Кембриджский PET (Preliminary English Test)
          </li>
        </ul>
        <p class="about__text">
          Высшее образование получила в Институте международных отношений НАУ по специальности
          переводчик-аналитик.
        </p>
        <p class="about__text">
          В свободное время проходит курсы от лучших университетов мира по эффективному преподаванию
          и методикам написания сочинений.
        </p>
        <p class="about__text about__text--last">
          В числе пройденных: English Grammar and Essay Writing (Berkeley), English Grammar&Style
          (The University of Queesland), How to Write an Essay (Berkeley), Academic and Business
          Writing (Berkeley), The Art of Teaching (GEMS education), Powerful Tools for Teaching and
          Learning (University of Houston).
        </p>
        <a
          class="about__link"
          href="https://ru.wikipedia.org/wiki/ESOL#:~:text=%D0%A1%D0%A0%D0%95%20(Certificate%20of%20Proficiency%20in,%D0%BE%20%D1%81%D0%B2%D0%BE%D0%B1%D0%BE%D0%B4%D0%BD%D0%BE%D0%BC%20%D0%B2%D0%BB%D0%B0%D0%B4%D0%B5%D0%BD%D0%B8%D0%B8%20%D0%B0%D0%BD%D0%B3%D0%BB%D0%B8%D0%B9%D1%81%D0%BA%D0%B8%D0%BC%20%D1%8F%D0%B7%D1%8B%D0%BA%D0%BE%D0%BC"
          target="_blank"
          >Cambridge English Entry Level Certificate</a
        >
      </div>
    </div>
  </div>
</section>
