<!-- advantages -->

<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Преимущества</h2>

    <ul class="advantages__list">
      <li class="advantages__item">
        <svg class="advantages__icon" width="59" height="60">
          <use href="./images/icon.svg#icon-men"></use>
        </svg>
        Адаптированная авторская программа ВНО
      </li>

      <li class="advantages__item">
        <svg class="advantages__icon" width="59" height="60">
          <use href="./images/icon.svg#icon-phone"></use>
        </svg>
        Современные методики обучения
      </li>

      <li class="advantages__item">
        <svg class="advantages__icon" width="59" height="60">
          <use href="./images/icon.svg#icon-dollar"></use>
        </svg>
        Финансовая гарантия результата
      </li>
    </ul>
  </div>
</section>
