<footer class="footer">
  <div class="container footer__container">
    <a href="index.html" class="logo footer__logo">
      <span class="logo__firstgroup logo__firstgroup--foot"
        >Hell<svg class="logo__icon logo__icon--foot" width="22" height="30">
          <use href="./images/icon.svg#icon-campfire"></use></svg
        >EN</span
      >
      <span class="logo__secondgroup logo__secondgroup--foot">Адский</span
      ><span class="logo__thirdgroup logo__thirdgroup--foot">английский</span>
    </a>
    <div class="info">
      <ul class="info__list">
        <li class="info__item info__item--tel">
          <a href="tel:+380000000000" class="info__link">
            <svg class="info__icon" width="25" height="25">
              <use href="./images/icon.svg#icon-tel"></use>
            </svg>
            +38 (000) 000 00 00
          </a>
        </li>
        <li class="info__item">
          <a
            href="https://www.instagram.com"
            class="info__link info__link--instagram"
            title="Instagram"
            target="_blank"
          >
            <span class="info__img"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="aside">
    <div class="container">
      <p class="aside__text">&#169; Все права защищены, 2019</p>
    </div>
  </div>
</footer>
