<footer class="footer">
    <div class="container footer__container">
        <div class="footer__logo">
            <a class="footer__link" href="">
                <svg class="footer__icon" width="128" height="45">
          <use class="" href="../images/icon-fire.svg"></use>
        </svg>
            </a>
        </div>
        <div class="info">
            <ul class="info__list">
                <li class="info__item">
                    <a href="tel:+380000000000" class="info__link">
                        <svg class="info__icon" width="30" height="29">
              <use href="../images/icon.svg#icon-tel"></use>
            </svg> +38 (000) 000 00 00
                    </a>
                </li>
                <li class="info__item">
                    <a href="https://www.instagram.com" class="info__link info__link--instagram" title="Instagram">
                        <span class="info__img"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div>
        <p>&#169; Все права защищены, 2019</p>
    </div>
</footer>