<section class="hero">
  <div class="container hero-container">
    <h1 class="hero__title">
      Комплексная подготовка к ВНО <br />
      по английскому языку
    </h1>
    <p class="hero__text">
      <span class="hero__text--optional"> Просто не будет. </span>
      <span class="hero__text--primary">Но ты гарантировано наберешь</span>
      <span class="hero__text--accent">+25 баллов</span>
    </p>
    <a href="#Contacts" class="hero__link">хочу на бесплатное занятие</a>
    <img
      srcset="./images/hero_group.png 1x, #./images/hero_group@2x.png 2x"
      src="./images/hero_group.png"
      alt="Наши занятия"
      class="hero__image hero__image--passive"
    />
  </div>
</section>
