<section class="hero">
  <h1 class="hero__title">Комплексная подготовка к ВНО по английскому языку</h1>
  <p class="hero__text hero__text--optional">Просто не будет.</p>
  <p class="hero__text">
    Но ты гарантировано наберешь
    <span class="hero__text hero__text--accent">+25 баллов</span>
  </p>
  <a href="#contact" class="hero__link">хочу на бесплатное занятие</a>
  <!-- <img srcset="./images/# 1x, #./images/#@2x" src="./images/#" alt="Наши занятия" class="hero__image" />
  <img srcset="./images/# 1x, #./images/#@2x" src="./images/#" alt="Наши занятия" class="hero__image" /> -->
</section>
