<section class="section__how-we-do">
    <div class="container__how-we-do">
        <h2 class="how-we-do__main-title">Как мы это делаем</h2>
        <ul class="how-we-do__list">
            <li class="how-we-do__item">
                <div class="how-we-do__icon">
                    <svg width="45" height="48">
                        <use href=""></use>
                    </svg>
                </div>
                <div class="how-we-do__content">
                <h3 class="how-we-do__card-title">Адаптированная программа подготовки к ВНО</h3>
                <p class="how-we-do__card">Ты будешь изучать грамматику и лексику одновременно. И ты научишься писать
                    сочинения.</p>
                </div>
            </li>
       
        
            <li class="how-we-do__item">
                <div class="how-we-do__icon">
                    <svg width="45" height="48">
                        <use href=""></use>
                    </svg>
                </div>
                <div class="how-we-do__content">
                <h3 class="how-we-do__card-title">Аудитория и онлайн-обучение</h3>
                <p class="how-we-do__card">Учитель поможет не только в аудитории, но и во время домашней подготовки.
                    Родители могут участвовать в чате при желании.</p>
                </div>
            </li>
     
     
            <li class="how-we-do__item">
                <div class="how-we-do__icon">
                    <svg width="45" height="48">
                        <use href=""></use>
                    </svg>
                </div>
                <div class="how-we-do__content">
                <h3 class="how-we-do__card-title">Привычка читать на английском языке</h3>
                <p class="how-we-do__card">Статьи из источников, которые используются при разработке настоящего ВНО, будут приходить на телефон дважды в неделю.

                </p>
                </div>
            </li>
      
     
            <li class="how-we-do__item">
                <div class="how-we-do__icon">
                    <svg width="45" height="48">
                        <use href=""></use>
                    </svg>
                </div>
                <div class="how-we-do__content">
                <h3 class="how-we-do__card-title">Психологическая
                    поддержка</h3>
                <p class="how-we-do__card">Мы научим тебя методикам прохождения тестирований, умению планировать свою подготовку уверенности 
                    в себе.</p>
                </div>
            </li>
        
            <li class="how-we-do__item">
                <div class="how-we-do__icon">
                    <svg width="45" height="48">
                        <use href=""></use>
                    </svg>
                </div>
                <div class="how-we-do__content">
                <h3 class="how-we-do__card-title">Обучение по авторским пособиям</h3>
                <p class="how-we-do__card">Тебе не нужно тратить время 
                    на  самостоятельный поиск материала и ничего покупать дополнительно. Мы составили 
                    2 пособия для тебя.</p>
                </div>
            </li>
      
            <li class="how-we-do__item">
                <div class="how-we-do__icon">
                    <svg width="45" height="48">
                        <use href=""></use>
                    </svg>
                </div>
                <div class="how-we-do__content">
                <h3 class="how-we-do__card-title">Умение воспринимать устную английскуб речь</h3>
                <p class="how-we-do__card">“F.R.I.E.N.D.S” тебе не помогут. Ты будешь регулярно слушать 
                    и разбирать аудиозаписи 
                    в соответствии с изучаемой лексикой.</p>
                </div>
            </li>
        </ul>
    </div>

</section>