    <section class="program">
      <div class="container">
        <h2 class="program__titile">Наша программа</h2>
        <div class="program-container">
        <div>
            <ul class="program__list">
			    <div class="program__border">
				    <li class="program__item">
				        <h3 class="program__item--title">1 семестр</h3>
                        <ul class="program__wrap">
                            <li class="program__item--grammar">
                                <h4 class="program__item--pretitle">Grammar</h4>
                                <p class="program__item--text">
                      Nouns & Articles Adjectives & Adverb
                                </p>
                            </li>
                            <li class="program__item--vocabulary">
                                <h4 class="program__item--pretitle">Vocabulary</h4>
                                <p class="program__item--text">
                      Family & Relations People & Society
                                </p>
                            </li>
					    </ul>
					</li>
                    <li class="program__item">
                        <h3 class="program__item--title">2 семестр</h3>
                        <ul class="program__wrap">
                            <li class="program__item--grammar">
                                <h4 class="program__item--pretitle">Grammar</h4>
                                <p class="program__item--text">
                      Pronouns Active Voice Passive Voice
                                </p>
                            </li>
                            <li class="program__item--vocabulary">
                                <h4 class="program__item--pretitle">Vocabulary</h4>
                            	<p class="program__item--text">Home School Work</p>
                          	</li>
                        </ul>
                    </li>
                    <li class="program__item">
                        <h3 class="program__item--title">3 семестр</h3>
                        <ul class="program__wrap">
                          	<li class="program__item--grammar">
                            	<h4 class="program__item--pretitle">Grammar</h4>
                            	<p class="program__item--text">
                      Modal verbs Infinitive Gerund Participle: 1, 2
                            	</p>
                          	</li>
                          	<li class="program__item--vocabulary">
                            	<h4 class="program__item--pretitle">Vocabulary</h4>
                            	<p class="program__item--text">
                      Travel & Tourism Culture & Free Time Sport
                            	</p>
                          	</li>
                          	<li class="program__item--writing">
                            	<h4 class="program__item--pretitle">Writing</h4>
                            	<p class="program__item--text">Informal Letter</p>
                            </li>
             			</ul>
                    </li>
                    <li class="program__item">
                        <h3 class="program__item--title">4 семестр</h3>
                        <ul class="program__wrap">
                            <li class="program__item--grammar">
                            	<h4 class="program__item--pretitle">Grammar</h4>
                            	<p class="program__item--text">
                      Clauses: Conditional and Wishes Direct / Reported speech
                      Preposition Conjunction Numeral
                            	</p>
                          	</li>
                          	<li class="program__item--vocabulary">
                            	<h4 class="program__item--pretitle">Vocabulary</h4>
                            	<p class="program__item--text">
                      Clauses: Conditional and Wishes Direct / Reported speech
                      Preposition Conjunction Numeral
                            	</p>
                          	</li>
                          	<li class="program__item--vocabulary">
                            	<h4 class="program__item--pretitle">Vocabulary</h4>
                            	<p class="program__item--text">
                      Healthy Living Nature & Environment Money
                            	</p>
                          	</li>
                          	<li class="program__item--writing">
                            	<h4 class="program__item--pretitle">Writing</h4>
                            	<p class="program__item--text">Formal Letter</p>
                          	</li>
                        </ul>
                    </li>
              		<li class="program__item">
                		<h3 class="program__item--title">5 семестр</h3>
                		<ul class="program__wrap">
							<li class="program__item--vocabulary">
                  				<h4 class="program__item--pretitle"></h4>
                  				<p class="program__item--text">Revision Tests</p>
							</li>
              			</ul>
            		</li>
				</div>
			</ul>
        </div>
      </div>
    </section>
