<section class="reviews">
  <div class="container reviews__container">
    <h2 class="reviews__title">Отзывы выпускников</h2>
    <div class="slider__container">
      <div class="slider slider-single">
        <div class="reviews__track">
          <div class="reviews__photo">
            <img src="./images/reviews_photo2.png" alt="Олена Кучеровская" class="reviews__img" />
            <a href="htps://vk.com" class="reviews__link">
              <svg class="reviews__icon" width="30" height="30">
                <use href="./images/icon.svg#icon-vk"></use>
              </svg>
            </a>
          </div>
          <div class="reviews__meta">
            <h3 class="reviews__title-name">Олена Кучеровская</h3>
            <p class="reviews__description">
              Выпуск 2015-го года,
              <span lang="uk">
                Національний університет біоресурсів і природокористування України</span>
            </p>
            <p class="reviews__subject" lang="uk">
              За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
              словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з
              Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене
              авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз
              я можу похизуватись тим, що я студен ...
              <a href="" class="reviews__readmore-link"> Читать дальше </a>
            </p>
          </div>
        </div>
        <div class="reviews__track">
          <div class="reviews__photo">
            <img src="./images/reviews_photo3.png" alt="Евдокия Дуралеева" class="reviews__img" />
            <a href="htps://vk.com" class="reviews__link">
              <svg class="reviews__icon" width="30" height="30">
                <use href="./images/icon.svg#icon-vk"></use>
              </svg>
            </a>
          </div>
          <div class="reviews__meta">
            <h3 class="reviews__title-name">Евдокия Дуралеева</h3>
            <p class="reviews__description">
              Выпуск 2015-го года,
              <span lang="uk">
                Національний університет біоресурсів і природокористування України</span>
            </p>
            <p class="reviews__subject" lang="uk">
              За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
              словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з
              Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене
              авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз
              я можу похизуватись тим, що я студен ...
              <a href="" class="reviews__readmore-link"> Читать дальше </a>
            </p>
          </div>
        </div>
        <div class="reviews__track">
          <div class="reviews__photo">
            <img src="./images/reviews_photo4.png" alt="Александра Мамонтюк" class="reviews__img" />
            <a href="htps://vk.com" class="reviews__link">
              <svg class="reviews__icon" width="30" height="30">
                <use href="./images/icon.svg#icon-vk"></use>
              </svg>
            </a>
          </div>
          <div class="reviews__meta">
            <h3 class="reviews__title-name">Александра Мамонтюк</h3>
            <p class="reviews__description">
              Выпуск 2015-го года,
              <span lang="uk">
                Національний університет біоресурсів і природокористування України</span>
            </p>
            <p class="reviews__subject" lang="uk">
              За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
              словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з
              Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене
              авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз
              я можу похизуватись тим, що я студен ...
              <a href="" class="reviews__readmore-link"> Читать дальше </a>
            </p>
          </div>
        </div>
        <div class="reviews__track">
          <div class="reviews__photo">
            <img src="./images/reviews_photo5.png" alt="Светлана Рикошет" class="reviews__img" />
            <a href="htps://vk.com" class="reviews__link">
              <svg class="reviews__icon" width="30" height="30">
                <use href="./images/icon.svg#icon-vk"></use>
              </svg>
            </a>
          </div>
          <div class="reviews__meta">
            <h3 class="reviews__title-name">Светлана Рикошет</h3>
            <p class="reviews__description">
              Выпуск 2015-го года,
              <span lang="uk">
                Національний університет біоресурсів і природокористування України</span>
            </p>
            <p class="reviews__subject" lang="uk">
              За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
              словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з
              Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене
              авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз
              я можу похизуватись тим, що я студен ...
              <a href="" class="reviews__readmore-link"> Читать дальше </a>
            </p>
          </div>
        </div>
        <div class="reviews__track">
          <div class="reviews__photo">
            <img src="./images/reviews_photo6.png" alt="Людмила Иванова" class="reviews__img" />
            <a href="htps://vk.com" class="reviews__link">
              <svg class="reviews__icon" width="30" height="30">
                <use href="./images/icon.svg#icon-vk"></use>
              </svg>
            </a>
          </div>
          <div class="reviews__meta">
            <h3 class="reviews__title-name">Людмила Иванова</h3>
            <p class="reviews__description">
              Выпуск 2015-го года,
              <span lang="uk">
                Національний університет біоресурсів і природокористування України</span>
            </p>
            <p class="reviews__subject" lang="uk">
              За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
              словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з
              Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене
              авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз
              я можу похизуватись тим, що я студен ...
              <a href="" class="reviews__readmore-link"> Читать дальше </a>
            </p>
          </div>
        </div>
        <div class="reviews__track">
          <div class="reviews__photo">
            <img src="./images/reviews_photo1.png" alt="Анна Церковна" class="reviews__img" />
            <a href="htps://vk.com" class="reviews__link">
              <svg class="reviews__icon" width="30" height="30">
                <use href="./images/icon.svg#icon-vk"></use>
              </svg>
            </a>
          </div>
          <div class="reviews__meta">
            <h3 class="reviews__title-name">Анна Церковна</h3>
            <p class="reviews__description">
              Выпуск 2015-го года,
              <span lang="uk">
                Національний університет біоресурсів і природокористування України</span>
            </p>
            <p class="reviews__subject" lang="uk">
              За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
              словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з
              Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене
              авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз
              я можу похизуватись тим, що я студен ...
              <a href="" class="reviews__readmore-link"> Читать дальше </a>
            </p>
          </div>
        </div>
        <div class="reviews__track">
          <div class="reviews__photo">
            <img src="./images/reviews_photo8.png" alt="Виктория Конопля" class="reviews__img" />
            <a href="htps://vk.com" class="reviews__link">
              <svg class="reviews__icon" width="30" height="30">
                <use href="./images/icon.svg#icon-vk"></use>
              </svg>
            </a>
          </div>
          <div class="reviews__meta">
            <h3 class="reviews__title-name">Виктория Конопля</h3>
            <p class="reviews__description">
              Выпуск 2015-го года,
              <span lang="uk">
                Національний університет біоресурсів і природокористування України</span>
            </p>
            <p class="reviews__subject" lang="uk">
              За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
              словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з
              Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене
              авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз
              я можу похизуватись тим, що я студен ...
              <a href="" class="reviews__readmore-link"> Читать дальше </a>
            </p>
          </div>
        </div>
      </div>
      <div class="slider slider-nav">
        <div class="slider-nav__item">
          <img class="reviews-slider__img" src="./images/reviews_photo2.png" alt="1-й слайд" />
      </div>
        <div class="slider-nav__item">
          <img class="reviews-slider__img" src="./images/reviews_photo3.png" alt="2-й слайд" />
      </div>
        <div class="slider-nav__item">
          <img class="reviews-slider__img" src="./images/reviews_photo4.png" alt="3-й слайд" />
      </div>
        <div class="slider-nav__item">
          <img class="reviews-slider__img" src="./images/reviews_photo5.png" alt="4-й слайд" />
      </div>
        <div class="slider-nav__item">
          <img class="reviews-slider__img" src="./images/reviews_photo6.png" alt="5-й слайд" />
        </div>
        <div class="slider-nav__item">
          <img class="reviews-slider__img" src="./images/reviews_photo7.png" alt="6-й слайд" />
      </div>
        <div class="slider-nav__item">
          <img class="reviews-slider__img" src="./images/reviews_photo8.png" alt="7-й слайд" />
      </div>
    </div>
    </div>
  </div>
</section>