* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  background-color: $common-white-color;
  counter-reset: problems;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 20px;
  counter-reset: benefits;

  @media screen and(min-width: 768px) {
    max-width: 768px;
    padding: 0 40px;
  }

  @media screen and(min-width: 1344px) {
    max-width: 1344px;
    padding: 0 15px;
  }
}
