* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, Arial, sans-serif;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  font-style: normal;
  text-decoration: none;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 10px;

  @media screen and(min-width: 768px) {
    max-width: 768px;
    padding: 0 20px;
  }

  @media screen and(min-width: 1200px) {
    max-width: 1280px;
    padding: 0 125px;
  }

  @media screen and(min-width: 1314px) {
    max-width: 1314px;
  }
}
