.benefits {
  background-image: linear-gradient(
    to bottom,
    $common-black-color 15%,
    $common-black-color 61%,
    #ffffff 61%,
    #ffffff 100%
  );
  @media (min-width: 768px) {
    padding-top: 50px;
    background-image: linear-gradient(
      to bottom,
      $common-black-color 15%,
      $common-black-color 50%,
      #ffffff 50%,
      #ffffff 100%
    );
  }
  @media (min-width: 1344px) {
    padding-top: 0;
    background-image: linear-gradient(
      to bottom,
      $common-black-color 15%,
      $common-black-color 15%,
      #ffffff 15%,
      #ffffff 100%
    );
  }
}

.benefits__container {
  position: relative;
  padding-top: 39px;
  padding-bottom: 50px;

  @media (min-width: 1344px) {
    padding-top: 0;
    padding-bottom: 0;
  }
  // background-image: linear-gradient(
  //   to bottom,
  //   $common-black-color 15%,
  //   $common-black-color 73%,
  //   $white-bg-color 73%,
  //   $white-bg-color 100%
  // );
  // @media (min-width: 768px) {
  //   padding-top: 50px;
  // }
  // @media (min-width: 1280px) {
  //   padding-top: 50px;
  //   padding-bottom: 335px;
  //   background-image: linear-gradient(
  //     to bottom,
  //     $common-black-color 15%,
  //     $common-black-color 15%,
  //     $common-white-color 15%,
  //     $common-white-color 100%
  //   );
  // }
}

.benefits__title {
  position: absolute;
  top: -40px;
  left: 6%;
  display: block;
  width: 180px;

  @include title;
  color: $common-white-color;

  @media (min-width: 768px) {
    position: static;

    margin-left: auto;
    margin-right: auto;

    width: 370px;
    margin-bottom: 30px;
    text-align: center;
  }

  @media (min-width: 1344px) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.benefits__wrapper {
  padding: 20px 25px 20px 30px;
  background-color: $common-white-color;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.1);

  @media (min-width: 768px) {
    padding: 40px 118px 25px 98px;
  }
  @media (min-width: 1344px) {
    position: absolute;
    top: -100px;
    right: 15px;
    left: 15px;
    padding: 70px 80px;
  }

  // @media (min-width: 1600px) {
  //   padding: 70px 80px;
  // }
}

.benefits__list {
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -20px;
  }

  @media (min-width: 1344px) {
    margin-top: -20px;
    margin-left: -20px;
  }
}

.benefits__item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &::before {
    display: block;
    counter-increment: benefits;
    content: '— 0' counter(benefits) '';

    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.42;
    letter-spacing: 0.08em;
    color: $accent-color;
  }

  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.08em;
  color: $common-black-color;

  @media (min-width: 768px) {
    width: 220px;
    margin-top: 30px;
    margin-left: 20px;
    &:not(:last-child) {
      margin-bottom: 0px;
    }
  }

  @media (min-width: 1344px) {
    flex-basis: calc(100% / 3 - 20px);
    font-size: 20px;
    line-height: 1.4;
  }
}
