.header {
  position: relative;
  padding-top: 30px;
  @media screen and(min-width: 768px) and(max-width: 1343px) {
    padding-top: 40px;
  }
}

.header__container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.header__nav {
  display: none;

  @media screen and(min-width: 1344px) {
    display: block;
    margin-left: auto;
  }
}

.header__list {
  display: flex;
  align-items: center;
}

.header__item {
  display: flex;
  flex-direction: row;
  &:not(:last-child) {
    margin-right: 40px;
  }
}

.header__link {
  position: relative;
  padding-top: 27px;
  padding-bottom: 26px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: $primary-text-color;
  @include transition(color);
  &:hover,
  &:focus {
    color: $accent-color;
  }
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
    @include transition(all);
  }
  &:hover::after,
  &:focus::after {
    width: 100%;
  }
}

.header__button-link {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.2;
  margin-left: auto;
  width: 336px;
  max-height: 70px;
  cursor: pointer;
  padding-top: 27px;
  padding-right: 23px;
  padding-bottom: 26px;
  padding-left: 22px;
  background-color: transparent;
  color: $accent-color;
  border: 2px solid $accent-color;
  @include transition(all);
  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $common-white-color;
  }
  @media screen and(max-width:767px) {
    display: none;
  }
  @media screen and(max-width:1343px) {
    width: 260px;
    max-height: 48px;
    padding-top: 17px;
    padding-bottom: 16px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 45px;

    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }
  @media screen and(min-width: 1344px) {
    margin-left: 60px;
  }
}
