.hero {
  padding-top: 110px;
  padding-bottom: 47px;
  background-image: url('../images/hero_background.png');
  background-size: 768px 618px, cover;
  background-position: -64px 20px;
  background-repeat: no-repeat;

  @media screen and(min-width: 768px) {
    padding-top: 159px;
    padding-bottom: 93px;
    position: relative;
    background-image: url('../images/hero_background_tab.png');
    background-size: cover;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    max-width: 100%;
  }

  @media screen and(min-width: 1280px) {
    padding-top: 229px;
    padding-bottom: 144px;
    background-image: url('../images/hero_background.png');
    background-size: cover;
    background-position: 0px 0px;
    background-repeat: no-repeat;
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and(min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}

.hero__title {
  width: 280px;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.35;
  letter-spacing: 0.03em;
  color: $common-black-color;

  @media screen and(min-width: 768px) {
    display: inline-flex;
    font-size: 26px;
    line-height: 1.31;
    width: 332px;
  }

  @media screen and(min-width: 1280px) {
    font-size: 58px;
    line-height: 1.29;
    width: 642px;
  }
}

.hero__text {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.08em;
  color: $common-black-color;
  width: 280px;

  @media screen and(min-width: 768px) {
  }

  @media screen and(min-width: 1280px) {
    font-size: 20px;
    line-height: 1.65;
  }
}

.hero__text--optional {
  font-weight: 500;
  color: $primary-text-color;
}

.hero__text--primary {
}

.hero__text--accent {
  color: $accent-color;
}

.hero__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  width: 260px;
  height: 48px;
  background-color: #ff6b09;
  color: #ffffff;

  @media screen and(min-width: 768px) {
    margin-left: 0;
  }

  @media screen and(min-width: 1280px) {
    font-size: 14px;
    line-height: 1.21;
    width: 354px;
    height: 70px;
  }
}

.hero__image {
  width: 208px;

  @media screen and(min-width: 768px) {
    position: absolute;
    top: 172px;
    right: 18px;
    min-width: 375px;
    min-height: 320px;
  }

  @media screen and(min-width: 1280px) {
    position: absolute;
    top: 149px;
    right: 46px;
    width: 842px;
  }
}
