.problems {
  background-image: linear-gradient(
    to bottom,
    $common-black-color 15%,
    $common-black-color 73%,
    $white-bg-color 73%,
    $white-bg-color 100%
  );
  @media (min-width: 768px) {
    background-image: linear-gradient(
      to bottom,
      $common-black-color 15%,
      $common-black-color 65%,
      $white-bg-color 65%,
      $white-bg-color 100%
    );
  }
  @media (min-width: 1280px) {
    // padding-top: 100px;
    // padding-bottom: 130px;
    background-image: url(../images/problems_fire.png),
      linear-gradient(
        to bottom,
        $common-black-color 15%,
        $common-black-color 60%,
        #ffffff 60%,
        #ffffff 100%
      );
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 18%;
    background-size: 30% 65%, 100%;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/problems_fire@2x.png),
        linear-gradient(
          to bottom,
          $common-black-color 15%,
          $common-black-color 70%,
          #ffffff 70%,
          #ffffff 100%
        );
      background-repeat: no-repeat;
      background-position-x: 115%;
      background-position-y: 18%;
      background-size: 30% 65%, 100%;
    }
  }
}

.problems__container {
  padding-top: 50px;
  padding-bottom: 50px;
  // background-image: linear-gradient(
  //   to bottom,
  //   $common-black-color 15%,
  //   $common-black-color 73%,
  //   $white-bg-color 73%,
  //   $white-bg-color 100%
  // );

  @media (min-width: 768px) {
    padding-top: 60px;
  }
  //   background-image: linear-gradient(
  //     to bottom,
  //     $common-black-color 15%,
  //     $common-black-color 65%,
  //     $white-bg-color 65%,
  //     $white-bg-color 100%
  //   );
  // }

  @media (min-width: 1280px) {
    padding-top: 100px;
    padding-bottom: 130px;
  }
  //   background-image: url(../images/problems_fire.png),
  //     linear-gradient(
  //       to bottom,
  //       $common-black-color 15%,
  //       $common-black-color 75%,
  //       $white-bg-color 75%,
  //       $white-bg-color 100%
  //     );
  //   background-repeat: no-repeat;
  //   background-position-x: right;
  //   background-position-y: 30%;
  //   background-size: 30% 65%, 100%;

  //   @media screen and (min-device-pixel-ratio: 2),
  //     screen and (min-resolution: 192dpi),
  //     screen and (min-resolution: 2dppx) {
  //     background-image: url(../images/problems_fire@2x.png),
  //       linear-gradient(
  //         to bottom,
  //         $common-black-color 15%,
  //         $common-black-color 75%,
  //         $white-bg-color 75%,
  //         $white-bg-color 100%
  //       );
  //     background-repeat: no-repeat;
  //     background-position-x: right;
  //     background-position-y: 35%;
  //     background-size: 30% 65%, 100%;
  //   }
  // }
}

.problems__title {
  display: block;
  margin-bottom: 27px;

  @include title;
  color: $common-white-color;

  @media (min-width: 768px) {
    width: 450px;
    margin-bottom: 25px;
  }

  @media (min-width: 1280px) {
    width: 860px;
    // margin-top: 60px;
    margin-bottom: 60px;
  }

  // @media (min-width: 1281px) {
  //   margin-top: 100px;
  // }
}

.problems__break-line {
  display: block;

  @media (min-width: 325px) {
    display: unset;
  }
}

.problems__help {
  color: $accent-color;
}

.problems__wrapper {
  padding: 20px 15px 20px 30px;
  background-color: $common-white-color;

  @media (min-width: 768px) {
    padding: 30px 45px 26px 96px;
  }

  @media (min-width: 1280px) {
    max-width: 1314px;
    padding: 80px 114px 60px 114px;
  }
}

.problems__list {
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }

  @media (min-width: 1280px) {
    text-align: left;
    margin-left: -30px;
    margin-top: -30px;
  }

  @media (min-width: 1600px) {
    margin-left: -30px;
    margin-top: -30px;
  }
}

.problems__item {
  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &::before {
    display: block;
    counter-increment: problems;
    content: '— 0' counter(problems) '';

    margin-bottom: 5px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.42;
    letter-spacing: 0.08em;
    color: $accent-color;
  }

  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.08em;
  color: $common-black-color;

  @media (min-width: 768px) {
    width: 230px;
    margin-top: 30px;
    margin-left: 30px;
    &:not(:last-child) {
      margin-bottom: 0px;
    }
  }

  @media (min-width: 1280px) {
    flex-basis: calc(100% / 3 - 40px);
    margin-left: 30px;
    margin-top: 30px;

    font-size: 17px;
    line-height: 1.4;
  }

  @media (min-width: 1600px) {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    font-size: 20px;
  }
}

.problems__item--first {
  @media (min-width: 320px) {
    width: 200px;
  }
}

.problems__item--second {
  @media (max-width: 320px) {
    display: block;
    width: 236px;
  }
}
