.program-container {
  @media screen and (min-width: 300px) and (max-width: 767px) {
    margin-left: 110px;
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    margin-left: 50px;
  }
}

.program {
  background-color: #000;
  background-image: url(../images/program_group.png);
  background-repeat: no-repeat;
  background-position: 135% 100%;
  background-clip: border-box;
  background-size: 50%;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/program_group@2x.png);
  }

  @media screen and (min-width: 768px) {
    background-position: 100% 100%;
    background-size: 419px;
  }

  @media screen and (min-width: 1200px) {
    background-position: -3% 95%;
    background-size: 502px;
  }
}

.program-section {
  position: relative;
  padding-top: 50px;
  padding-bottom: 90px;

  @media screen and (min-width: 768px) {
    padding-bottom: 135px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 120px;
  }
}

.program__list {
  position: relative;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 165px;

  justify-content: center;

  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    margin-left: 50px;
    margin-right: unset;
  }

  @media screen and (min-width: 1200px) {
    margin-left: -30px;

    justify-content: space-around;
    flex-direction: unset;
    width: 100%;
  }
}

.program__item {
  position: relative;
  max-width: 200px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    width: 176px;

    &:first-child {
      margin-top: 60px;
    }
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 5 - 30px);

    &:first-child {
      margin-top: unset;
    }
  }
}

.program__item:not(:last-child) {
  margin-bottom: 40px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.program__wrap {
  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: column;
  }
}

.program__item--grammar {
  @media screen and (min-width: 480px) {
    width: 155px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 83px;
    width: 176px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: unset;
    margin-bottom: 25px;
    width: 100%;
  }
}

.program__item--vocabulary {
  @media screen and (min-width: 480px) {
    width: 155px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 50px;
    width: 176px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: unset;
    margin-bottom: 25px;
    width: 100%;
  }
}

.program__title {
  @include title;
  color: $common-white-color;
  margin: 0;
  text-align: center;
  margin-bottom: 43px;

  @media screen and (min-width: 768px) {
    text-align: left;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 130px;
  }
}

.program__item--title {
  font-size: 14px;
  line-height: 2;
  color: $common-white-color;
  text-transform: uppercase;
  margin: 0;

  margin-bottom: 5px;
}

.program__item--title::before {
  position: absolute;
  top: 5px;
  left: -27px;
  content: '';
  display: inline-flex;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: $accent-color;

  @media screen and (min-width: 768px) {
    left: -57px;
  }

  @media screen and (min-width: 1200px) {
    left: 0px;
    top: -56px;
  }
}

.program__item--pretitle {
  @include text;
  color: #ff6b09;
  display: inline-flex;
  font-weight: 700;

  margin-bottom: 10px;
  align-items: center;
}

.program__item--pretitle:last-child {
  margin-bottom: 15px;
}

.program__item--pretitle::before {
  content: '';
  display: inline-flex;
  width: 15px;
  height: 2px;
  background-color: $accent-color;
  margin-right: 5px;
  align-items: center;
}

.program__item--text {
  @include text;
  color: $primary-text-color;
  opacity: 0.5;

  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    width: 176px;
  }
}

.program__list::before {
  content: '';
  position: absolute;
  top: 10px;
  left: -20px;
  width: 1px;
  height: 93%;
  color: $common-white-color;
  background-color: $common-white-color;

  @media screen and (min-width: 768px) {
    left: -50px;
    height: 82%;
    top: 70px;
  }

  @media screen and (min-width: 1200px) {
    width: 1000%;
    height: 1px;
    left: -5000px;
    top: -50px;
  }
}
